@mixin devices($breakpoint) { //the name of the mixin is devices
  
  @if $breakpoint == tiny {    
    @media screen and (max-width: 800px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media screen and (min-width: 801px) and (max-width: 900px){
      @content;
      
    }
  }
  @if $breakpoint == Btablet {
    @media screen and (min-width: 901px) and (max-width: 1000px){
      @content;
      
    }
  }
} 

.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 10px;
    background-color: #3c00a0;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    @include devices(tiny){
      padding: 0 5px 0 5px;
      min-width: 100px;
    }
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }

    &.inverted{
      background-color: white;
      color: black;
      border: 1px solid black;

      &:hover{
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
  