@mixin devices($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tiny {    
        @media screen and (max-width: 800px) {
          @content;
        }
      }
      @if $breakpoint == tablet {
        @media screen and (min-width: 801px) and (max-width: 900px){
          @content;
          
        }
      }
      @if $breakpoint == Btablet {
        @media screen and (min-width: 901px) and (max-width: 1000px){
          @content;
          
        }
      }
  
} 

.container{
    width: 20vw;
    margin-bottom: 25vh;
    
    height: 60vh;
    align-items: center;
    margin-right: 10px;
    @include devices(tiny){
        margin-bottom: 10vh;
        width: 40vw;
        height: 30vh;
      }
    
    @include devices(tablet){
        margin-bottom: 20vh;
        width: 30vw;
        height: 26vh;
      }
    @include devices(Btablet){
        margin-bottom: 20vh;
        width: 30vw;
        height: 26vh;
      }
    
    
    .image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
            &:hover{
                opacity: 0.8
            }
            
        
    }

    
}