@mixin devices($breakpoint) { //the name of the mixin is devices
  
  @if $breakpoint == tiny {    
    @media screen and (max-width: 800px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media screen and (min-width: 801px) and (max-width: 900px){
      @content;
      
    }
  }
  @if $breakpoint == Btablet {
    @media screen and (min-width: 901px) and (max-width: 1000px){
      @content;
      
    }
  }
} 

.preview{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 5%;
    @include devices(tiny){
      margin-left: 6%;
    }
    @include devices(tablet){
      margin-left: 2%;
    }
    @include devices(Btablet){
      margin-left: 2.3%;
    }
    
    h3{
      margin-left: 3.5%;
    }
    .preview-div{
      display: grid;
      grid-template-columns: auto auto auto auto;
      
      @include devices(tiny){
        grid-template-columns: auto auto;
      }

      @include devices(tablet){
        grid-template-columns: auto auto auto;
      }
      @include devices(Btablet){
        grid-template-columns: auto auto auto;
      }

      
        // grid-template-columns: 1fr 1fr 1fr;
        // column-gap: 10px;
        // justify-content: space-between;
    }
    
}
